# CLIENT_URL=http://localhost:5173
# PORT=8000

# DATABASE_URL=postgresql://user:password@localhost:6543/dbname
# DIRECT_URL=postgresql://user:password@localhost:5432/dbname

# DB_PASSWORD=yourpassword
# JWT_SECRET=change-me

